#.gitignorenode_modules
#.env
# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

# Ignore logs
logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
mongodb-compass_1.45.4_amd64.deb

#Testing files
test.js
bot.js
aws/
scripts/books/
services/SunnahAhmad.pdf/
awscliv2.zip/
/home/miladi/repos/milady-shady-bot/config/test.js
/home/miladi/repos/milady-shady-bot/services/SunnahAhmad.pdf